<%- include('partials/header') %>
<body class="Live-Editor">
  <main class="Live-Editor">
		<form class="Live-Editor" id="input">
			<label class="textarea head"><h2>HTML head</h2>
				<textarea class="head">&lt;meta charset="utf-8"/&gt;</textarea>
			</label>
			<label class="textarea"><h2>HTML</h2>
				<textarea class="html"></textarea>
			</label>
			<label class="textarea"><h2>CSS</h2>
				<textarea class="css" >

        </textarea>
				</label>
				<label class="textarea"><h2>JavaScript</h2>
				<textarea class="js" >

</textarea>
			</label>

		</form>
		<iframe class="Live-Editor" id="result" srcdoc="">
		</iframe>
    <center>
		<a class="btn btn-danger" id="reset">Reset</a>
		<a class="btn btn-success" id="save">Save</a>
</center>
    </main>
    <script src="js/editor.js"></script>
</body>
<%- include('partials/footer') %>
